.auth-block .tab-content {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-width: 0;
  min-height: 250px;
  padding: 24px 12px 24px;
}

.auth-form {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
.auth-form .form-group {
  margin-bottom: 12px;
}
.auth-form .error-messages {
  color: #9b3b3b;
  font-size: 9pt;
  padding-top: 4px;
}
.auth-form .form-errors {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
.auth-form .btn {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
  height: 42px;
  margin-top: 18px;
  width: 180px;
}
