{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="EnglishMoviesSchool">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{% static 'styles/img/favicon.ico' %}" type="image/png"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf">
    <link href="http://vjs.zencdn.net/5.0/video-js.min.css" rel="stylesheet">
    <link href="{% static "vendors/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/css/hotkeys.min.css" %}" rel="stylesheet">
    <link href="{% static "styles/css/index.css" %}" rel="stylesheet">
    <link href="{% static "styles/css/video_files_panel.css" %}" rel="stylesheet">
    <link href="{% static "styles/css/auth_panel.css" %}" rel="stylesheet">
    <link href="{% static "styles/css/user_words_manager.css" %}" rel="stylesheet">

    <title>Easy English</title>

    <script type="text/javascript" src="{% static "vendors/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendors/js/angular.js" %}"></script>

</head>
<body ng-controller="ApplicationCtrl" ng-cloak>


<div class="page-content">

    {% verbatim %}
    <div class="control-panel" ng-controller="ControlPanelCtrl">
        <div ng-include="'/static/templates/partials/control_panel/authorisation_template.html'"></div>
        <div ng-include="'/static/templates/partials/control_panel/video_files_manage_template.html'"></div>
        <div ng-include="'/static/templates/partials/control_panel/user_words_manager_template.html'"></div>
    </div>

    <div ng-controller="VideoPlayerCtrl" class="player-things" video-player-auto-size
         subtitle-ctrl-buttons-wrapper subtitles-wrapper-manager translate-word-dialog-wrapper>
        <div class="video-file-name" ng-if="!!player.videoFileName">{{ player.videoFileName }}</div>
        <video id="{{ player.id }}" class="video-js vjs-default-skin vjs-big-play-centered"></video>
    </div>
    {% endverbatim %}

</div>


</body>

{% verbatim %}
<script type="text/ng-template" id="error-messages.html">
    <formly-transclude></formly-transclude>
    <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
        <div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages"
             class="message">{{ message(fc.$viewValue, fc.$modelValue, this) }}
        </div>
    </div>
</script>
{% endverbatim %}

<script type="text/javascript" src="{% static "vendors/js/moment-with-locales.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/angular-pageslide-directive.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/ngStorage.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/angular-animate.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/angular-messages.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/api-check.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/formly.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/angular-formly-templates-bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/lodash.compat.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/restangular.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/ui-bootstrap-tpls-1.1.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/hotkeys.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/js/FileSaver.min.js" %}"></script>
<script src="http://vjs.zencdn.net/5.0/video.min.js"></script>

<script type="text/javascript" src="{% static "src/app.js" %}"></script>
<script type="text/javascript" src="{% static "src/controllers/application.js" %}"></script>
<script type="text/javascript" src="{% static "src/controllers/control_panel.js" %}"></script>
<script type="text/javascript" src="{% static "src/controllers/player.js" %}"></script>
<script type="text/javascript" src="{% static "src/directives/player.js" %}"></script>
<script type="text/javascript" src="{% static "src/models/player.js" %}"></script>
<script type="text/javascript" src="{% static "src/services/subtitles_handler.js" %}"></script>
<script type="text/javascript" src="{% static "src/services/dictionary_serv.js" %}"></script>
<script type="text/javascript" src="{% static "src/services/translator_dialog_serv.js" %}"></script>
<script type="text/javascript" src="{% static "src/services/auth.js" %}"></script>
<script type="text/javascript" src="{% static "src/services/user_dict.js" %}"></script>
<script type="text/javascript" src="{% static "src/forms.js" %}"></script>

</html>
