{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en" ng-app="EnglishMoviesSchool">
<head>
    <meta charset="UTF-8">

    {% stylesheet 'styles' %}

    <link rel="shortcut icon" href="{% static 'styles/img/favicon.ico' %}" type="image/png"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf">
    <link href="http://vjs.zencdn.net/5.0/video-js.min.css" rel="stylesheet">

    <title>Easy English</title>

    {% javascript 'stats' %}

</head>
<body ng-controller="ApplicationCtrl" ng-cloak>

<div class="non-chrome-window" ng-if="!isBrowserChrome">
    Для запуска приложения, пожалуйста, используйте браузер "<img src="/static/styles/img/google-chrome.png"> Google Chrome"
</div>

<div class="page-content" ng-if="isBrowserChrome">

    {% verbatim %}
    <div class="control-panel" ng-controller="ControlPanelCtrl">
        <div ng-include="'/static/templates/partials/control_panel/authorisation_template.html'"></div>
        <div ng-include="'/static/templates/partials/control_panel/video_files_manage_template.html'"></div>
        <div ng-include="'/static/templates/partials/control_panel/user_words_manager_template.html'"></div>
        <div ng-include="'/static/templates/partials/control_panel/new_words_selection_template.html'"></div>
    </div>

    <div ng-controller="VideoPlayerCtrl" class="player-things" video-player-auto-size
         subtitle-ctrl-buttons-wrapper subtitles-wrapper-manager translate-word-dialog-wrapper>
        <div class="video-file-name" ng-if="!!player.videoFileName">{{ player.videoFileName }}</div>
        <video id="{{ player.id }}" class="video-js vjs-default-skin vjs-big-play-centered"></video>
    </div>
    {% endverbatim %}


    {% verbatim %}
    <script type="text/ng-template" id="error-messages.html">
        <formly-transclude></formly-transclude>
        <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
            <div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages"
                 class="message">{{ message(fc.$viewValue, fc.$modelValue, this) }}
            </div>
        </div>
    </script>
    {% endverbatim %}
</div>
</body>
</html>
