@import 'settings';

.slide-panel-wrapper .control-panel-button.files-btn {
  //background: #edda95;
}

.video-files-block {
  @include init-flex-position(column);
  padding-top: 24px;
  z-index: 3;

  .files-block-btn {
    @include single-box-shadow(.5px, .5px, 4px, .1px, #ccc);
    border-radius: 1px;
    color: #333;
    padding: 8px;
    text-align: center;
    text-decoration: none;
  }

  .open-video-button {
    background: rgba(242, 194, 72, .6);
    border: 1px solid #aaa;
    margin: 0 0 24px 0;
  }

  .subtitle-settings-block {
    @include single-box-shadow(1px, 1px, 4px, .05px, #eee);
    @include init-flex-position(row);
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 12px;
    padding: 6px 8px;
  }

  .sub-title {
    @include init-flex-position(column);
    @include align-items(center);
    @include flex(1 1);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px 16px 12px;
    min-width: 340px;
    padding: 3px;
  }

  .open-subtitles-button {
    @include flex(1 1);
    background: rgba(144, 181, 237, .6);
    border: 1px solid #aaa;
  }

  .sub-delay {
    @include init-flex-position(row);
    @include align-items(center);
    margin-left: 12px;

    span {
      color: #666;
      font-size: 11pt;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 2px;
      color: #666;
      font-size: 12pt;
      height: 28px;
      margin-left: 6px;
      padding-left: 2px;
      width: 76px;
    }
  }
}
